.advantages {
  background-color: $bg-section;
  min-height: 664px;
  padding-top: 114px;
  padding-left: 103px;
  padding-right: 103px;

  @media (max-width: $vp-1199) {
    padding-top: 95px;
    padding-left: 45px;
    padding-right: 45px;
    min-height: 755px;
  }

  @media (max-width: $vp-767) {
    padding-top: 66px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    min-height: 1231px;
  }
}

.advantages h2 {
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  padding-left: 394px;
  margin-bottom: 71px;
  margin-top: 0;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    line-height: 42px;
    padding-left: 179px;
    margin-bottom: 47px;
  }

  @media (max-width: $vp-767) {
    font-size: 32px;
    line-height: 32px;
    padding-left: 0;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  padding-left: 0;
  margin-left: 79px;
  width: 90%;
  min-height: 414px;
  align-content: space-between;

  @media (min-width: $vp-1200) and (max-width: $vp-1280) {
    margin-left: 50px;
    width: 97%;
  }

  @media (max-width: $vp-1199) {
    margin-left: 0;
    width: 100%;
    min-height: 571px;
    margin-bottom: 0;
    align-content: flex-start;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  width: 35%;
  min-height: 149px;
  margin-bottom: 29px;

  @media (max-width: $vp-1199) {
    width: 48%;
    min-height: 91px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 31px;
  }
}

.advantages__item-center {
  position: relative;
  width: 100%;
  padding-right: 40px;
  margin-top: -199px;

  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 340px;
    bottom: 153px;
    left: -18px;
    background-color: $advant-line;

    @media (min-width: $vp-1200) and (max-width: $vp-1280) {
      left: -82px;
    }

    @media (max-width: $vp-1199) {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 340px;
    bottom: 153px;
    right: 23px;
    background-color: $advant-line;

    @media (min-width: $vp-1200) and (max-width: $vp-1280) {
      right: -42px;
    }


    @media (max-width: $vp-1199) {
      display: none;
    }
  }

  @media (max-width: $vp-1199) {
    position: static;
    width: 100%;
    margin-bottom: 44px;
    margin-top: 0;
    padding-right: 0;
    display: block;
  }

  @media (max-width: $vp-767) {
    position: static;
    margin-bottom: 41px;
  }
}

.advantages__inner-center {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  background-color: $bg-blue;
  color: $white;
  min-height: 307px;

  @media (max-width: $vp-1199) {
    width: 442px;
    margin-left: auto;
    margin-right: auto;
    min-height: 239px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
  }
}

.advantages__item-1 {
  margin-left: 8px;

  @media (max-width: $vp-1199) {
    margin-left: 0;
  }
}

.advantages__item-1 span {
  @media (max-width: $vp-1199) {
    margin-right: 9px;
  }

  @media (max-width: $vp-767) {
    margin-right: 0;
  }
}

.advantages__item-4 {
  margin-top: -100px;

  @media (max-width: $vp-1199) {
    margin-top: 0;
  }
}

.advantages__item-5 {
  margin-top: -100px;

  @media (max-width: $vp-1199) {
    margin-top: 0;
  }
}

.advantages__item-4 span {
  @media (max-width: $vp-1199) {
    margin-right: 9px;
  }

  @media (max-width: $vp-767) {
    margin-right: 0;
  }
}

.advantages__numbers {
  min-width: 77px;

  @media (max-width: $vp-1199) {
    min-width: 50px;
  }
}

.advantages__numbers span {
  font-size: 71px;
  font-weight: 700;
  line-height: 55px;
  background: $color-number;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  @media (max-width: $vp-1199) {
    font-size: 58px;
    line-height: 54px;
  }
}

.advantages__numbers p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  color: $color-letters;
}

.advantages__numbers-center p {
  color: $white;
  font-size: 71px;
  font-weight: 700;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 5px;
  padding-top: 64px;

  @media (max-width: $vp-1199) {
    font-size: 74px;
    line-height: 55px;
    padding-top: 42px;
    padding-right: 5px;
    margin-bottom: 9px;
  }

  @media (max-width: $vp-767) {
    padding-top: 47px;
    margin-bottom: 5px;
  }
}

.advantages__description {
  width: 71%;
  margin-bottom: 71px;

  @media (max-width: $vp-1199) {
    width: 82%;
    margin-bottom: 10px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
  }
}

.advantages__description-center {
  width: 100%;
}

.advantages__description h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 9px;
  padding-left: 30px;
  width: 100%;

  @media (max-width: $vp-1199) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 33px;
    margin-bottom: 3px;
  }

  @media (max-width: $vp-767) {
    padding-left: 0;
    padding-top: 4px;
    margin-bottom: 2px;
  }
}

.advantages__description-center h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 31px;

  @media (max-width: $vp-1199) {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 14px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 9px;
  }
}

.advantages__description p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding-left: 30px;
  min-width: 208px;

  @media (max-width: $vp-1199) {
    font-weight: 400;
  }

  @media (max-width: $vp-767) {
    text-align: center;
    padding-left: 45px;
    width: 87%;
  }
}

.advantages__description-center p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 35px;
  width: 86%;
  text-align: center;
  margin: 0;

  @media (max-width: $vp-1199) {
    width: 70%;
    padding-left: 132px;
  }

  @media (max-width: $vp-767) {
    width: 78%;
    padding-left: 71px;
    margin-bottom: 10px;
  }
}
