.main-block__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $vp-1199) {
    justify-content: space-around;
  }

  @media (max-width: $vp-767) {
    justify-content: flex-start;
    width: 100%;
  }
}

.main-block__wrap {
  width: 459px;

  @media (max-width: $vp-1199) {
    width: 354px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
  }
}

.main-block__inner {
  display: flex;
  padding-top: 112px;
  margin-bottom: 64px;

  @media (max-width: $vp-1199) {
    padding-top: 51px;
    margin-bottom: 49px;
  }
}

.main-block__list {
  list-style: none;
  padding-left: 0;
  padding-top: 194px;
  margin: 0;
  width: 132px;
  color: $white;
  text-align: end;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  @media (max-width: $vp-1199) {
    padding-top: 137px;
    width: 113px;
  }

  @media (max-width: $vp-767) {
    padding-top: 122px;
  }
}

.main-block__title {
  color: $white;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-end;
  width: 300px;
  transform: translateX(-12%);

  @media (max-width: $vp-1199) {
    width: 240px;
  }

  @media (max-width: $vp-767) {
    width: 177px;
    transform: translateX(0);
  }
}

.main-block__title h1 {
  margin: 0;
  font-family: $ff-bebas-neue;
  font-size: 109px;
  line-height: 109px;
  letter-spacing: 0.03em;
  text-align: right;
  text-shadow: 2px 0 0 $white, 1px 2px 0 $white, 0 2px 0 $white, 2px 2px 0 $white;

  @media (max-width: $vp-1199) {
    font-size: 86px;
    line-height: 86px;
    padding-right: 1px;
  }

  @media (max-width: $vp-767) {
    font-size: 78px;
    line-height: 78px;
    padding-right: 0;
  }
}

.main-block__title p {
  padding: 0;
  margin: 0 1px 0 0;
  font-family: $ff-bebas-neue;
  font-size: 49px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0.03em;
  text-align: left;

  @media (max-width: $vp-1199) {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: -3px;
  }

  @media (max-width: $vp-767) {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 0;
  }
}

.main-block__wrap a {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: $white;
  width: 234px;
  min-height: 61px;
  border: 4px solid $white;
  text-transform: uppercase;
  margin-left: 163px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;

  &:hover {
    background: $bg-hover-button;
  }

  @media (max-width: $vp-1199) {
    margin-left: 140px;
    width: 186px;
  }

  @media (max-width: $vp-767) {
    width: 290px;
    margin-left: 0;
    margin-right: auto;
  }
}

.main-block__pictures-wrapper {
  padding-top: 1px;
  padding-left: 1px;
  margin-right: auto;

  @media (max-width: $vp-1199) {
    width: 324px;
    height: 390px;
    margin-right: 0;
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

.main-block__social-list {
  list-style: none;
  padding: 0;
  margin: auto 0 33px 0;
  text-align: right;

  @media (max-width: $vp-1199) {
    display: none;
  }
}

.main-block__social-list a {
  fill: $white;
  margin-bottom: 12px;
  display: block;

  &:hover {
    opacity: 30%;
  }
}
