.reviews {
  padding-top: 94px;
  position: relative;

  @media (max-width: $vp-1199) {
    padding-top: 75px;
  }

  @media (max-width: $vp-767) {
    padding-top: 15px;
  }
}

.reviews__wrap {
  position: relative;
}

.reviews h2 {
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 0 56px;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 45px;
  }

  @media (max-width: $vp-767) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 46px;
  }
}

.reviews__swiper {
  margin-bottom: 121px;

  @media (max-width: $vp-1199) {
    margin-bottom: 99px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 70px;
  }
}

.reviews__swiper-slide {
  min-height: 242px;
  display: flex;
  background-color: $bg-blue;


  @media (max-width: $vp-1199) {
    min-height: 242px;
  }

  @media (max-width: $vp-767) {
    width: 226px;
    min-height: 335px;
    display: block;
  }
}

.reviews__picture-wrapper {
  width: 80px;
  height: 80px;
  margin-top: 62px;
  margin-left: 62px;


  @media (max-width: $vp-1199) {
    margin-left: 65px;
  }

  @media (max-width: $vp-767) {
    width: 68px;
    height: 68px;
    margin-left: 41px;
    margin-top: 40px;
    float: left;
  }
}

.reviews img {
  border-radius: 50%;
}

.reviews__description {
  width: 59%;
  color: $white;
  margin-top: 54px;
  margin-left: 28px;

  @media (max-width: $vp-767) {
    margin-top: 48px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

.reviews__description h3 {
  margin: 0 0 13px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;

  @media (min-width: $vp-380) and (max-width: $vp-767) {
    margin-bottom: 21%;
  }

  @media (max-width: $vp-767) {
    line-height: 26px;
    padding-left: 96px;
    margin-bottom: 15%;
  }
}

.reviews__description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;

  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.reviews__button-prev {
  position: absolute;
  bottom: 110px;
  left: 21.4%;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 1px solid $grey-arrow;
  border-style: solid solid none none;
  transform: rotate(225deg);
  cursor: pointer;

  &:hover {
    opacity: 30%;
  }

  @media (min-width: $vp-1200) and (max-width: $vp-1320) {
    left: 12.7%;
  }

  @media (max-width: $vp-1199) {
    left: 0.6%;
    // bottom: 110px;
  }

  @media (max-width: $vp-767) {
    left: 1.4%;
    bottom: 159px;
    width: 14px;
    height: 14px;
  }
}

.reviews__button-next {
  position: absolute;
  bottom: 110px;
  right: 21.4%;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 1px solid $grey-arrow;
  border-style: solid solid none none;
  transform: rotate(45deg);
  cursor: pointer;

  &:hover {
    opacity: 30%;
  }

  @media (min-width: $vp-1200) and (max-width: $vp-1320) {
    right: 12.7%;
  }

  @media (max-width: $vp-1199) {
    right: 0.6%;
    // bottom: 110px;
  }

  @media (max-width: $vp-767) {
    bottom: 159px;
    right: 1.4%;
    width: 14px;
    height: 14px;
  }
}

.reviews .reviews__swiper {
  width: 560px;

  @media (max-width: $vp-1199) {
    width: 566px;
  }

  @media (max-width: $vp-767) {
    text-align: center;
    width: 70vw;
  }
}
