.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.noselect {
  user-select: none;
}

.wrapper {
  padding-left: 103px;
  padding-right: 103px;

  @media (max-width: $vp-1199) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $vp-767) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

.reviews .swiper-button-disabled {
  opacity: 30%;
  cursor: default;
}
